html {
    scroll-behavior: smooth;
}

/*BODY*/
body {
    font-family: 'Josefin Sans', sans-serif;
    color: #4A4A45;
    font-size: 20px;
    overflow-x: hidden;
}

.full-width {
    width: 90%;
    margin: 10% auto;
    overflow: auto;
    text-align: center;
}

/*BACK TO TOP ARROW*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 99;
    font-size: 28px;
    border: none;
    outline: none;
    background-color: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
#myBtn:hover {
    background-color: rgba(85, 85, 85, 0.558);
}

/*OPENING*/
#opening {
    
}

.navigation h1 {
    font-size: 150%;
    text-align: center;  
    width: auto;
    color: rgb(251, 132, 154);
    padding: 10% 0;
    background-color: rgb(239, 242, 245);
}

.nagivation nav {
    text-decoration: none;
    font-size: 5px;
}

nav ul {
    list-style-type: none;
    width: 50%;
    text-align: center;
    padding-left: 25%;
}

nav ul li a {
    text-transform: lowercase;
    text-decoration: none;
    font-size: 20px;
    color: rgb(251, 132, 154);
}

.welcome {
    text-align: center;
    font-size: 65%;
    background-color: rgb(239, 219, 235);
    padding: 10% 5%;
}

/*ABOUT*/
#about h1 {
    font-size: 110%;
    text-align: center;  
    width: auto;
    color: rgb(251, 132, 154);
    padding: 10% 0;
    background-color: rgb(239, 242, 245);
}

.p1, .p2, .p3 {
    font-size: 95%;
    width: auto;
    padding: 10% 5%;
    line-height: 140%;
}

.p1 {
    background-color: rgb(244, 202, 209);
}

.p2 {
    background-color: rgb(247, 217, 221);

}
 
.p3 {
    background-color: rgb(248, 230, 233);

}
 
/*PROJECTS*/
#projects h1 {
    font-size: 110%;
    text-align: center;  
    width: auto;
    color: rgb(251, 132, 154);
    padding: 10% 0;
    background-color: rgb(239, 242, 245);
}

/*SKILLS*/
#skills h1 {
    font-size: 110%;
    text-align: center;  
    width: auto;
    color: rgb(251, 132, 154);
    padding: 10% 0;
    background-color: rgb(239, 242, 245);
}

/*CONTACT*/
#contact h1 {
    font-size: 110%;
    text-align: center;  
    width: auto;
    color: rgb(251, 132, 154);
    padding: 10% 0;
    background-color: rgb(239, 242, 245);
}