html {
    scroll-behavior: smooth;
}

/*BODY*/
body {
    font-family: 'Sansita', sans-serif;
    color: #3c1c1c;
    font-size: 20px;
    overflow-x: hidden;
}

.full-width {
    width: 90%;
    margin: 3% auto;
    overflow: auto;
    text-align: center;
}

/*BACK TO TOP ARROW*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 50px;
    z-index: 99;
    font-size: 28px;
    border: none;
    outline: none;
    background-color: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
#myBtn:hover {
    background-color: rgba(85, 85, 85, 0.558);
}

/*OPENING*/

.navigation h1 {
    font-size: 150%;
    text-align: center;  
    width: auto;
    color: rgb(251, 132, 154);
    padding: 10% 0;
    background-color: rgb(239, 242, 245);
    font-family: 'Lilita One', cursive;
}

.nagivation nav {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    width: 50%;
    text-align: center;
    padding-left: 25%;
}

nav ul li a {
    text-transform: lowercase;
    text-decoration: none;
    font-size: 20px;
    color: rgb(251, 132, 154);
}

.welcome {
    text-align: center;
    font-size: 65%;
    background-color: rgb(245, 220, 239);
    padding: 10% 5%;
}

header img {
    display: block;
    width: 70%;
    height: auto;
    border-radius: 80%;
    border: double 9px #f0bad1;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    margin-left: 10%;
}

/*ABOUT*/
#about h1 {
    font-size: 110%;
    text-align: center;  
    width: auto;
    color: rgb(251, 132, 154);
    padding: 10% 0;
    background-color: rgb(239, 242, 245);
    font-family: 'Lilita One', cursive;
}

.p1, .p2, .p3 {
    font-size: 95%;
    width: auto;
    padding: 10% 5%;
    line-height: 140%;
}

.p1 {
    background-color: rgb(244, 202, 209);
}

.p2 {
    background-color: rgb(247, 217, 221);

}
 
.p3 {
    background-color: rgb(248, 230, 233);

}
 
/*PROJECTS*/

#projects {
    text-align: center;
}

#projects h1 {
    font-size: 130%;
    text-align: center;  
    width: auto;
    color: rgb(251, 132, 154);
    padding: 10% 0;
    background-color: rgb(239, 242, 245);
    font-family: 'Lilita One', cursive;
}

.project-piece h3 {
    font-size: 120%;
    padding: 5% 2%;
    font-family: 'Inconsolata', monospace;
    font-weight: 900;
    
}

.project-piece img {
    width: 95%;
    border: 6px solid pink;
    border-radius: 20px;
}

.project-sections {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 35px;
    width: 100%;
    margin: 25px auto;
    padding-top: 30px;
}

.project-piece {
    width: 80%;
    max-width: 800px;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    border: 3px solid pink;
    box-shadow: 7px 7px 10px rgb(235, 178, 235); 
    background-color:rgb(238, 217, 234);
}

.project-button {
    width: 40%;
    color: #4b2f4b;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 20px;
    border: 4px solid pink;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
    box-shadow: 7px 7px 5px rgb(200, 123, 200);
    background-color: rgb(239, 233, 240);
}

.project-button:hover {
    background: rgba(238, 182, 182, 0.3);
    color: rgb(195, 7, 101);
    border: 4px solid pink;
    font-weight: bolder;
}

.project-piece p {
    font-size: 20px;
    line-height: 28px;
    padding: 10px 0;
    font-weight: 800;
}

.project-piece .skills-list {
    line-height: 120%;
    font-size: 15px;
}

/*SKILLS*/
#skills h1 {
    font-size: 130%;
    text-align: center;  
    width: auto;
    color: rgb(251, 132, 154);
    padding: 10% 0;
    background-color: rgb(239, 242, 245);
    font-family: 'Lilita One', cursive;
}

#skills h2 {
    font-size: 40px;
    font-family: 'Emblema One', cursive;
    padding: 10px 0;
    text-align: center;
    color: #CF2A54;
    border: solid 2px;
}

.skills-sections {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    
    width: auto;
    margin: 25px auto;
}

.skills ul, 
.skills2 ul, 
.tools ul {
    list-style-type: none;
    width: 90%;
    max-width: 200%;
    height: 500%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
    padding: 0 10px;
    font-size: 20px;
}

/*SKILLS ANIMATION*/
mark {
    --color1: rgba(238, 136, 228, 0.788);
    --color2: rgb(248, 135, 225);
    --bg-height: 20%;
      
    all: unset;
    background-image: linear-gradient(var(--color1), var(--color2));
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 var(--bg-height);
    animation: highlight 4s 1 ease-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
  
@keyframes highlight {
    to {
      background-size: 100% var(--bg-height);
    }
} 

/*CONTACT*/

#contact h1 {
    font-size: 130%;
    text-align: center;  
    width: auto;
    color: rgb(251, 132, 154);
    padding: 10% 0;
    background-color: rgb(239, 242, 245);
    font-family: 'Lilita One', cursive;
}

.summary p {
    font-size: 90%;
    text-align: center;
    width: auto;
    display: flex;
    padding: 10% 5%;
    line-height: 35px;
    background-color: #fad2e4;
}

/*IMG OVERLAY*/

.img-container {
    position: relative;
    width: 50%;
    margin-left: 25%;
}

.img-container img {
    display: block;
    width: 95%;
    height: auto;
    border-radius: 60%;
    border: double 7px #f0bad1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 95%;
    opacity: 0;
    transition: .8s ease;
    background: rgba(238, 182, 182, 0.8);
    border-radius: 80%;
    padding-left: 12px;
}

.img-container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Emblema One', cursive;
    cursor: default;
}

/*Social Links*/

.contact {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    padding-bottom: 40%;
}

.email {
    font-size: 110%;
    background: pink;
    padding: 5% 3%;
    color: black;
}

.linkedin {
    font-size: 140%;
    background-color: rgb(209, 209, 252);
    padding: 5% 30%;
    text-align:center;
    color: rgb(77, 77, 234);
    text-decoration: none;
    font-family: 'Lobster Two', cursive;
    letter-spacing: 2px;
}

.github {
    font-size: 140%;
    background-color: rgb(193, 244, 193);
    padding: 5% 33%;
    text-decoration: none;
    color: rgb(45, 5, 5);
    align-items: center;
    font-family: 'Inconsolata', monospace;
    letter-spacing: 2px;
}

.name {
    color: rgb(240, 115, 136);
}


/*****TABLET STYLES*****/

@media screen and (min-width: 760px)  {

    /*OPENING*/
    .navigation h1 {
        font-size: 280%;
        text-align: center;  
        width: auto;
        color: rgb(218, 102, 123);
        padding: 5% 2%;
        background-color: rgb(239, 242, 245);
        font-family: 'Lilita One', cursive;
    }

    .navigation nav {
        width: 100;
        display: block;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style-type: none; 
        line-height: 210%;
    }

    nav ul li a {
        margin: 0 15px;
        font-size: 120%;
    }

    .welcome {
        text-align: center;
        font-size: 125%;
        background-color: rgb(245, 220, 239);
        padding: 10% 5%;
    }

    /*ABOUT*/

    #about h1 {
        font-size: 250%;
        padding: 5% 0;
    }

    .p1, .p2, .p3 {
        font-size: 140%;
        line-height: 160%;
    }

    /*PROYECTOS*/

    #projects h1 {
        font-size: 250%;
        padding: 5% 0;
    }

    .project-piece {
        width: 80%;
        max-width: 800px;
        height: 800px;
        padding: 10px 20px;
    }

    .project-piece h3 {
        font-size: 180%;
    }

    .project-piece img {
        width: 75%;
        border: 6px solid pink;
        border-radius: 20px;
    }

    .project-button {
        padding: 15px 20px;
        font-size: 120%;
    }

    .project-piece p {
        font-size: 120%;
        width: 75%;
    }

    .project-piece .skills-list {
        line-height: 150%;
        font-size: 110%;
        width: 80%;
        padding-bottom: 15%;
    }

    /*SKILLS-TOOLS*/
    #skills h1 {
        font-size: 250%;
        padding: 5% 0;
    }

    .skills ul, 
    .skills2 ul, 
    .tools ul {
        font-size: 130%;
    }

    /*CONTACT*/

    #contact h1 {
        font-size: 250%;
        padding: 5% 0;
        margin-bottom: 10%;
    }

    .summary p {
        font-size: 140%;
        line-height: 160%;
    }

    /*SOCIAL LINKS*/

    .email, .linkedin, .github {
        font-size: 140%;
        margin: 5% 0;
    }

    .linkedin a, .github a {
        color: black;
        text-decoration: none;
    }
    
    .contact {
        padding-bottom: 10%;
    }

    .name {
        color: rgb(240, 115, 136);
    }
}

/*****DESKTOP STYLES*****/
@media screen and (min-width: 1024px)  {

    /*OPENING*/

     .navigation h1 {
        font-size: 250%;
        margin: 0;
    }
   
    header a:hover {
        font-size: 90%;
        text-transform: lowercase;
    }

    .welcome h1 {
        font-size: 150%;
    }

    /*ABOUT*/





}


